body{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    overflow: hidden;
}
.Home{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.836);
    height:100%;
    width: 100%;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
}

a:hover{
    text-decoration: underline;
    text-decoration-color:rgb(187, 8, 8);
}
Button{
    background-color: rgb(187, 8, 8);
    color: white;
    margin: 10px;
    font-weight: 600;
    height: 45px;
    width: 180px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    border: solid white 3px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.container{
    background-color: rgba(255, 255, 255, 0.89);
    display: flex;
    width: 100%;
    height: 100%;
    
}

.Imagem_1{
    width: 50%;
    height: 40%;    
}

.Imagem_1 img{
    width: 100%;
}

.textoContainer {
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.texto{
    width: 50%;
    text-align: right;
}

.texto p{
    font-size: 16pt;
    color: black;
}

.texto h1{
    color:rgb(187, 8, 8);
}