.Navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.836);
    height:100%;
    width: 100%;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}