.Input {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    label {
      margin-bottom: 10px;
      display: flex;
      color: white;
      justify-content: flex-start;
    }
    input {
      border: none;
      width: 350px;
      height: 30px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 0 10px;
      color: black;
      outline: none;
      margin-bottom: 30px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.801);
    }
    }
  }
