.NovoCadUm{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    background-image: url(../../imagens/livross.jpg);
    background-size: cover;
  
  }
   .CadastroUm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgb(0, 0, 0) transparent;
      width: 50%;
      height: 60%; 
      border-radius: 40px;
         form {
           margin-left: 30px;
           display: flex;
           align-items: flex-end;
           justify-content: center;
           flex-direction: column;
           align-items: center;
          
        .BDOis{
          border-radius: 20px;
          border: 1px solid black;;
          height: 30px;
          width: 100px;
          margin-bottom: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          
          }
        }
        }
  .Imagem{
    h1{
      color:white;
      margin-bottom: 50px;
  
    } }